@{
    ViewData["Title"] = "AddCompanyQuota";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kontenjan Ekle</h3>
    </div>

    @* <div class="col-md-6">
        <div class="form-group">
        <select class="form-control select2" style="width: 100%;">
        <option selected="selected">Alabama</option>
        <option>Alaska</option>
        <option>California</option>
        <option>Delaware</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Washington</option>
        </select>
        </div>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">


            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Mühendislik ve Doğa Bilimleri Fakültesi</option>
                        <option>İnsan ve Toplum Bilimleri Fakültesi</option>
                        <option>İletişim Fakültesi</option>
                        <option>Mimarlık ve Tasarım Fakültesi</option>
                        <option>Denizcilik Fakültesi</option>

                    </select>
                </div>
            </div>
            


            <thead>
                <tr>
                    <th>Bölüm Adı</th>
                    <th>Açılan Kontenjan</th>


                </tr>
            </thead>

            
            <tbody>
               
               
                <tr>
                    <td>Uluslararası İlişkiler</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Uluslararası Ticaret ve Lojistik</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Sosyoloji</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Psikoloji</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>İşletme</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                 <tr>
                    <td>İngilizce Mütercim ve Tercümanlık</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
               
            




            </tbody>
@*
            <tbody>
                <tr>
                    <td>Bilgisayar Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="5">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Biyomühendislik</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Çevre Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Elektrik Elektronik Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Endüstri Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Fizik</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Gıda Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Havacılık ve Uzay Mühendisliği Bölümü</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>İnşaat Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Kimya</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Kimya Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Makine Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Matematik</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Mekatronik Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Metalürji ve Malzeme Mühendisliği</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Polimer Malzeme Mühendisliği </td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>




            </tbody>*@



        </table>

         <div class="card-footer">
                <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
         </div>
    </div>
    <!-- /.card-body -->
</div>