@model CompanyAgreement.modelview.AddQuotaViewModel
@*C:\Users\oyku\source\repos\CompanyAgreement\modelview\*@
@{
    ViewData["Title"] = "AddCompanyQuota";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Firma Kontenjan Ekle</h1>

@using (Html.BeginForm("AddCompanyQuota", "Admin", FormMethod.Post))
{
    @Html.Label("Kontenjan durumunu kontrol etmek istediğiniz firmayı seçiniz.")
    @Html.DropDownListFor(x=>x.CompanyId,(List<SelectListItem>)ViewBag.companyValues,new {@class="form-control"})

    <br />
    <button class="btn btn-info">Firma Kontenjanını Listele</button>
    <button class="btn btn-info">Firma Kontenjanı Ekle</button>
}
*@

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Kontenjan Ekle</h3>
    </div>

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">

            <div class="col-md-6">
                <div class="form-group">
                    @using (Html.BeginForm("AddCompanyQuota", "Admin", FormMethod.Post))
                    {
                        @Html.Label("Kontenjan durumunu kontrol etmek istediğiniz firmayı seçiniz.")
                        @Html.DropDownListFor(x=>x.CompanyId,(List<SelectListItem>)ViewBag.companyValues,new {@class="form-control"})

                        <br />
                        <button class="btn btn-warning">Firma Kontenjanını Listele</button>
                        <button class="btn btn-info">Firma Kontenjanı Ekle</button>
                    }

                </div>
            </div>



            <thead>
                <tr>
                    <th>Bölüm Adı</th>
                    <th>Açılan Kontenjan</th>


                </tr>
            </thead>


            <tbody>


                <tr>
                    <td>Uluslararası İlişkiler</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Uluslararası Ticaret ve Lojistik</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Sosyoloji</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Psikoloji</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>İşletme</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>İngilizce Mütercim ve Tercümanlık</td>
                    <td>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="0">
                        </div>
                    </td>

                </tr>






            </tbody>




        </table>

        
    </div>
    <!-- /.card-body -->
</div>